@charset "utf-8";
/* CSS Document */

/* STUDENTS, PUT YOUR STYLES HERE */
.item_1_box {
background-color:#090;
transition: background-color 1s linear 0s;
}
.item_1_box:hover {
background-color:#2820bd;
}

.item_2_box {
width: 50%;
transition: width 3s ease-in 0s;
}
.item_2_box:hover {
width: 90%;
}

.item_3_box {
height: 1.2em;
transition: height .5s ease-in-out .1s;
}
.item_3_box:hover {
height: 10em;
}

.item_4_box {
	transform: scale(1, 1);
	transition: transform .75s linear 0s;
}
.item_4_box:hover{
	transform: scale(1.5, 2);
}

.item_5_box {
height: 1.2em;
opacity:1;
transition: opacity .75s linear 0s;
}
.item_5_box:hover {
opacity: .25;
}

.item_6_box {
	color:#ff9;
	font-size: 1em;
	transition: color 1s ease-in 0s, font-size .25s ease-out 0s;
}
.item_6_box:hover {
	color:#1910b6;
	font-size: 1.15em;
}

.item_7_box {
	border:#000 solid 1px;
	transition: border .6s ease-in-out 0s;
}
.item_7_box:hover {
	border:#5fd22f solid 8px;
}


.item_8_box {
	width: 80%;
	padding-left: 4%;
	text-align:left;
	transition: padding-left 1s ease-out 0s,
							width 1s ease-out 0s;
}
.item_8_box:hover {
	width: 34%;
	padding-left: 50%;

}

.item_9_box {
	box-shadow: 3px 3px 1px #888888;
	transition: box-shadow 350ms ease-out .1s;
}
.item_9_box:hover {
	box-shadow: 8px 10px 10px #bababa;
}

.item_10_box {
	width:50%;
	color:#ff9;
	background-color: #090;
	transition:
	color 1s ease-in 0s,
	width 1s ease-in .5s,
	background-color 1.5s ease-in 0s;
}
.item_10_box:hover {
	width:60%;
	color:#000;
	background-color: #ff9;
}

.item_11_box {
	width:50%;
	color:#ff9;
	background-color: #090;
	transition:
	background-color 1s linear 0s,
	width 1s linear 1s,
	color 1s linear 2s;
}
.item_11_box:hover {
	width:90%;
	color:#532b80;
	background-color: #e68928;
}


.item_12_box {
	height: 4em;
}
.item_12_box .yellow_square{
	width:2em; height:2em;
	background-color: #ff9;
	margin:0 auto;
	transition: background-color 1s ease-in .1s;
}
.item_12_box:hover .yellow_square{
	/*width:2em; height:2em;*/
	background-color: #3dcfcf;
	/*margin:0 auto;*/
}

.item_13_box {
	width:80%;
	height: 2.5em;
}
.item_13_box a {
	display:block;
	overflow:hidden;
	height:.2em;
	background-color: #060;
	margin:.1em auto;
}
.item_13_box:hover {
	width:80%;
	height: 5.25em;
}
.item_13_box:hover a{
	display:block;
	overflow:hidden;
	height:2em;
	background-color: #060;
	margin:.1em auto;
}

.item_14_box {
	width: 150px;
	height: 34px;
	padding: 26px 0 0 0;
	background-image: url(../img/dog.gif);
	background-position: 0px 0px;
	transition: background-position 2s ease-in-out 0s;
}
.item_14_box:hover{
	background-position: -155px 0px;
}

.item_15_box{
	border-radius: 5px;
	background-image: url(../img/pumpkin.gif);
	background-position: -100px -50px;
	transition:
	background-color .5s linear 0s,
	border-radius .5s linear 0s,
	width .25s linear 0s,
	height .25s linear 0s,
	line-height .5s linear 0s,
	padding-top .5s linear 0s,
	border .5s linear .5s,
	margin-bottom .5s linear 1s,
	box-shadow .3s ease-in 1.2s,
	background-position .2s ease-out 1s,
	color .5s ease-out 1.2s,
	font-weight .5s ease-in .75s,
	text-shadow .2s linear 1s;


}
.item_15_box:hover {
	background-color: #5f2f75;
	border-radius:200px;
	width: 25%;
	height: 13%;
	line-height: 1em;
	padding-top: 40px;
	border: #0e051c 8px solid;
	margin-bottom: 50px;
	box-shadow:-2px -6px 5px rgba(107, 107, 107, 0.7);
	background-image: url(../img/pumpkin.gif);
	background-position: -5px -5px;
	color: #000;
	font-weight: bold;
	text-shadow: 0px 0px .5px #fff;
}


/* DO NOT TOUCH STYLES BELOW HERE. Designing for mobile first */
html {	background-color:#210;
	font-size:100%;	}
body {	background-color:#dcb;
	font-size:90%;
	width:94%; max-width:1280px;
	margin: 0 auto 1rem auto;
	font-family:Verdana, Geneva, sans-serif;
	line-height: 1.4;	}
header {	background-color:#765; }
main {
	display:block;
	padding: 1rem 1rem 1rem 1rem;
}
h1 { font-size:1.4em;
	font-weight:bold;
	padding:1rem;
	color: #fff; }

a  { color:#ddf;text-decoration:underline; }
a:link  { color:#ddf;  }
a:visited { color:#bbf; }
a:hover { color:#fff;   }
a:focus { color:#fff; }
a:active { color:#99f; }

.grid-container {
	padding: 2rem 0 0 0;
}
article {
	margin: 0 1% .5rem 0;
	position: relative;
	background-color:#fff;
	height: 16rem;
}
article header {
	background-color:#fed;
	padding: 1rem 1rem 1rem 1rem;
}
article footer {
	background-color:#fed;
	width:100%;
	font-style:italic;
	font-size: .8rem;
	color:#600;
	position:absolute;
	bottom:0;
	min-height:3rem;
}
article footer p {
	padding: 1rem 1rem 1rem 1rem;
}

/* DO NOT TOUCH. STYLES ALL THE GREEN ITEM BOXES SHARE */

section {
	background-color:#090;
	width: 50%; height: 1.2em;
	font-size: .9em;
	padding: 4%;
	color:#eed;
	text-align:center;
	margin: 6% auto 6% auto;
	cursor:pointer;
}


/* DO NOT TOUCH. Define styles that should only happen if the screen is wider */
@media screen and (min-width:481px){
	html{
		font-size:100%;
	}
}
@media screen and (min-width:721px){
	html{
		font-size:110%;
	}
	.grid-container {
		display:flex;
		flex-flow:row wrap;
		justify-content: left;
		padding: 2rem 0 0 0;
	}
	article {
		margin: 0 1% .5rem 0;
		flex:1 1 32%;
		height: 20rem;
	}
	article header {
		min-height:7rem;
	}
	article footer {
		width:100%;
	}
}
@media screen and (min-width:960px){
	html{
		font-size:115%;
	}
}
/* ADD YOUR CODE AT TOP OF PAGE */
